<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col text-center">
      <h2>Latest technolgy post</h2>
    </div>
  </div>
  <div class="row text-center pt-4">
    <div class="col">
      <button type="button"  
          (click)="focusMonday()" 
          [ngClass]="statusMonday ? 'btn-outline-danger' : 'btn-outline-info'" 
          class="btn" 
          routerLink="/posts/monday">Monday</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-info">Tuesday</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-info">Wednesday</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-info">Thursday</button>
    </div>
    <div class="col">
        <button type="button" 
          (click)="focusFriday()" 
          [ngClass]="statusFriday ? 'btn-outline-danger' : 'btn-outline-info'" 
          class="btn" 
          routerLink="/posts/friday">Friday</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
